@{
    ViewBag.Title = "When";
}

<h2>When</h2>

<div class="text-center">
    orem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.orem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.orem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.orem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.orem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.orem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.orem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.
    orem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.orem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.orem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.orem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.orem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.orem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.orem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.
    orem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.orem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.orem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.orem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.orem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.orem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.orem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.
</div>
